<h1>{{title}}</h1>
<span>Demo page</span>

<div class="container">
  <button type="button"
          *ngIf="!cookieLawSeen"
          (click)="dismiss()">Dismiss Modal</button>

  <h3 *ngIf="cookieLawSeen">Cookie law dismissed</h3>
</div>

<div>
  <a class="link"
      href="https://github.com/andreasonny83/angular2-cookie-law">
    Fork me on GitHub
  </a>
</div>

<cookie-law position="top" name="topCookieLaw" [expiration]="7">
  Allo! I'm expiring in one week!.
  <a href="https://github.com/andreasonny83/angular2-cookie-law">
    Click here for more info
  </a>
</cookie-law>

<cookie-law #cookieLaw (isSeen)="cookieLawSeen = $event" learnMore="/false" target="_blank"></cookie-law>
